body {
  font-family: Arial, Helvetica, sans-serif;
}
form {
  border: 3px solid #000000;
  border-radius: 30px;
}
.back a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  border: 2px solid #339989;
  border-radius: 10px;
  padding: 10px;
  background-color: #339989;
}
.back a:hover {
  background-color: white;
  color: black;
  border-color: black;
}
.back {
  padding: 20px;
  margin-top: 20px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #339989;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #215c53;
}

.cancelbtn {
  width: 100%;
  padding: 10px 18px;
  background-color: #f44336;
}
.cancelbtn:hover {
  background-color: #972e27;
}

.img {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.container {
  padding: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn {
    width: 100%;
  }
}
